<div class="container">
	<h2>Editng New User</h2>
	<div class="alert-danger alert" *ngIf="error != ''">
		{{error}}
	</div>

	<form #editUserForm="ngForm" *ngIf="user">
		<div class="form-group">
	        <label>Username</label>
	        <input name="username" class="form-control" required [(ngModel)]="this.user.username" #User="ngModel">
      	</div>

		<div class="form-group">
		    <label for="Name">Name</label>
		    <input type="text" name="Name" class="form-control" placeholder="Name" required #User="ngModel" [(ngModel)]="user.name">
	    </div>

	    <div class="form-group">
		    <label for="lastname">Lastname</label>
		    <input type="text" name="lastname" class="form-control" placeholder="Last Name" required #User="ngModel" [(ngModel)]="user.lastname">
	    </div>
		
		<div class="form-group">
			<div class="form-check">
			    <input type="checkbox" class="form-check-input" id="isAdmin" name="isAdmin" #User="ngModel" [(ngModel)]="user.isAdmin">
			    <label class="form-check-label" for="isAdmin">Is Admin</label>
			</div>
		</div>

	    <div class="form-group">
		    <label for="password">Password</label>
		    <input type="password" name="password" class="form-control" placeholder="Password" required #User="ngModel" [(ngModel)]="user.password">
	    </div>
		
	    <div class="form-group">
		    <label for="Confirmpassword">Confirm Password</label>
		    <input type="password" name="Confirmpassword" class="form-control" placeholder="Confirm Password" required #User="ngModel" [(ngModel)]="User.Confirmpassword">
	    </div>
		<button class="btn btn-success" type="submit" (click)="onSubmit(editUserForm)">Save</button>
	</form>
</div>
