<div class="container">
	<h2>Creating Ticket</h2>
	<div class="alert alert-danger" *ngIf="error != ''">
		{{error}}
	</div>
	<form #addForm="ngForm">
		<div class="form-group">
	        <label for="title">Title</label>
	        <input type="text" name="title" class="form-control" placeholder="Title" required #Ticket="ngModel" [(ngModel)]="Ticket.title" autofocus="" >
      	</div>

      	<div class="form-group">
	        <label for="details">Details</label>
	        <input type="text" name="details" class="form-control" placeholder="Details" required #Ticket="ngModel" [(ngModel)]="Ticket.details" >
      	</div>

		<div class="form-group">
	        <label for="reporter">Reporter</label>
	        <input type="text" name="reporter" class="form-control" placeholder="Reporter" required #Ticket="ngModel" [(ngModel)]="Ticket.reporter"  >
      	</div>
		
		<div class="form-group">
		  <label for="status">Select status list:</label>
		  <select class="form-control" name="status" #Ticket="ngModel" [(ngModel)]="Ticket.Status">
		    <option value="Open">Open</option>
		    <option value="Awaiting">Awaiting</option>
		    <option value="In process">In process</option>
		    <option value="Closed">Closed</option>
		  </select>
		</div>
      	<div class="form-group" *ngIf="clients">
		  <label for="client">Select client list:</label>
		  <select class="form-control" name="client_id" #Ticket="ngModel" [(ngModel)]="Ticket.client_id">
		    <option *ngFor = "let client of clients" value="{{client.id}}" >{{client.name}}</option>
		  </select>
		</div>

		<button [disabled]="!addForm.valid" type="submit" class="btn btn-primary" (click)="onSubmit(addForm)">Create</button>
	</form>
</div>